.pointer{
    cursor: pointer;
}
.ml-5px{
    margin-left: 5px;
}
.mb-0{
    margin-bottom: 0;
}
.mb-20{
	margin-bottom: 20px !important;
}
.w-100{
	width: 100%;
}
.btn{
    padding: 5px 20px;
}
.form-group label{
    margin-top: 7px;
    margin-bottom: 0;
    font-weight: bold;
}
.width-50{
    width: 50%;
}
.width-60{
    width: 60%;
}
.width-70{
    width: 70%;
}
.width-80{
    width: 80%;
}
.width-95{
    width: 95%;
}
.width-100{
    width: 100%;
}
.modal{
	.pretty{
		input[type=radio]{
			margin-right: 5px;
			margin-top: 9px;	
		}
	}
	.form-tabs{
		.modal-header{
			border-bottom: 0;
			padding-bottom: 0;
		}
		.modal-body{
			padding-top: 10px;
			.nav-tabs{
				li{
					a{
						padding: 0 32px;
						color: #3390dc;
						font-weight: bold;
						font-size: 14px;
						padding-bottom: 5px;
						display: inline-block;
						&:hover{
							border-bottom: 2px solid #4bac4d;
							text-decoration: unset;
						}
						&.active{
							border-bottom: 2px solid #4bac4d;
						}
					}
				}
			}
			input[type='file'] {
				color: transparent;
				width: 100%;
				margin-top: 4px;
			}
		}
	}

	#img-preview{
		position: relative;
		span.close-img-preview{
			position: absolute;
			right: 0;
			cursor: pointer;
			color: red;
			font-size: 30px;
			right: 5px;
			top: -7px;
			&:hover{
				color: #3390dc;
			}
		}
		img{
			width: 100%;
		}
	}
	.btn-close-modal{
		position: absolute;
		right: 20px;
		top: 20px;
	}
}
.label-filter{
	margin-top: 6px;
    font-weight: bold;
}
.error-msg{
	color: #dd4b39;
}
.wrap-pagination{
	border-top: 1px solid #f4f4f4;
}
.form-control{
	height: 31px;
}