#menu-main li.active.has-dropdown > a {
  color: yellow;
}

#menu-main li.active > a {
  color: yellow;
}

header ul.nav-menu > li > a {
  font-family: auto;
  font-size: 18px;
}

.page-contact .error-msg {
  color: yellow;
  font-size: 80%;
}

header ul.nav-menu > li ul.sub-menu {
  width: 250px;
}

.widget_categories li.active a {
  color: chocolate;
}

.widget.sidebar-wideget .last-post .item .img {
  margin-left: 0 !important;
}

.mt-50 {
  margin-top: 50px;
}

