footer {
	&.layout-light {
		background-color: #fff;
		.contact-info {
			color: #4a4a4a;
			.icon {
				float: left;
				font-size: 30px;
				margin-right: 15px;
			}
			span.title-in {
				font-size: 13px;
			}
			.text {
				line-height: 19px;
				font-size: 14px;
			}
		}

		.nile-widget {
			h2.title {
				color: #000;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 600;
			}
			&.widget_nav_menu {
				ul {
					margin: 0px;
					padding: 0px;
					list-style: none;
					li {
						a {
							text-decoration: none;
							color: #4a4a4a;
							display: block;
							padding: 8px 0px 8px 0px;
							border-bottom: 1px solid rgba(238, 238, 238, 0.1);
							&:before {
								content: "\35";
								font-family: 'ElegantIcons';
								color: $mainColor;
								display: inline-block;
								margin-right: 5px;
							}

						}
					}
				}
			}
		}
		.copy-right {
			background-color: #f1efef;
			.copy-right-text {
				color: #4a4a4a;
				a {
					color: #4a4a4a;
					text-decoration: none;
				}
			}
			ul.social-media li {
				margin-left: 8px;
			}
		}
		.about-us {
			font-size: 13px;
			color: #4a4a4a;
		}

	}
	&.layout-dark {
		background-color: #4a4a4a;
		.contact-info {
			color: #fff;
			.icon {
				float: left;
				font-size: 30px;
				margin-right: 15px;
			}
			span.title-in {
				font-size: 13px;
			}
			.text {
				line-height: 19px;
				font-size: 14px;
			}
		}

		.nile-widget {
			h2.title {
				color: #fff;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 500;
			}
			&.widget_nav_menu {
				ul {
					margin: 0px;
					padding: 0px;
					list-style: none;
					li {
						a {
							text-decoration: none;
							color: #b1b1b1;
							display: block;
							padding: 8px 0px 8px 0px;
							border-bottom: 1px solid rgba(238, 238, 238, 0.1);
							&:before {
								content: "\35";
								font-family: 'ElegantIcons';
								color: #fff;
								display: inline-block;
								margin-right: 5px;
							}

						}
					}
				}
			}
		}
		.copy-right {
			background-color: #363535;
			.copy-right-text {
				color: #fff;
				a {
					color: #fff;
					text-decoration: none;
				}
			}
			ul.social-media li {
				margin-left: 8px;
			}
		}
		.about-us {
			font-size: 13px;
			color: #dadada;
		}
	}
}
