.fixed-header-dark {
	.up-head {
		display: none !important;
	}
}

.service-section-1 {
	margin-top: -230px;
	margin-bottom: 100px;
}

.service {
	&.layout-1 {
		padding: 30px;
		border: 1px solid rgba(255, 255, 255, .5);
		background-color: rgba(255, 255, 255, .1);
		border-radius: 4px;
		.icon {
			float: left;
			margin-right: 25px;
		}
		a.title {
			display: inline-block;
			color: #fff;
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 18px;
		}
		.dis {
			color: #fff;
			font-size: 12px;
		}
	}
}


.service-section-3 {
	padding-top: 35px;
	padding-bottom: 35px;
	background-color: #474747;
}

.service {
	&.layout-3 {
		.icon {
			float: left;
			margin-right: 25px;
		}
		a.title {
			display: inline-block;
			color: #fff;
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 18px;
		}
		.dis {
			color: #fff;
			font-size: 12px;
		}
	}
}



.service-section-2 {
	margin-top: -60px;
}

.service {
	&.layout-2 {
		padding: 30px;
		background-color: $mainColor;
		border-radius: 4px;
		-webkit-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
		.icon {
			float: left;
			margin-right: 25px;
		}
		a.title {
			display: inline-block;
			color: #fff;
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 18px;
		}
		.dis {
			color: #fff;
			font-size: 12px;
		}
	}
}

.cart-service {
	padding: 30px;
	color: #fff;
	text-align: center;
	-webkit-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
	margin-bottom: 30px;
	h2 {
		font-size: 18px;
		font-weight: 500;
	}
	hr {
		border-color: rgba(255, 255, 255, .4)
	}
	.text {
		padding-bottom: 8px;
		font-size: 13px;
		opacity: .8;
	}
}

.cart-counters {
	padding: 30px;
	color: #fff;
	text-align: center;
	-webkit-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
	margin-bottom: 30px;
	h2 {
		font-size: 22px;
		font-weight: 700;
	}
	hr {
		border-color: rgba(255, 255, 255, .4)
	}
	.text {
		padding-bottom: 8px;
		font-size: 13px;
		opacity: .8;
	}
}


.service-icon-box {
	text-align: center;
	margin-bottom: 35px;
	a.title.h2 {
		font-size: 16px;
		font-weight: 500;
		color: #000;
		margin: 15px auto
	}
	.des {
		font-size: 13px;
		color: #777;
	}
}

.price-table {
	background: #fff;
	border-radius: 10px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.08);
	margin-bottom: 40px;
	.title {
		font-weight: 600;
		padding-top: 25px;
	}
	.price {
		font-size: 31px;
		font-weight: 700;
		margin: 12px auto;
	}
	.per-mile {
		background-color: #efefef;
		width: 130px;
		border-radius: 20px;
		margin: auto auto 35px auto;
	}
	ul.elements {
		margin: 0px;
		padding: 0px;
		list-style: none;
		li {
			padding: 8px;
			&:nth-child(odd) {
				background-color: #f6f6f6
			}

		}
	}

	&.active {
		background: $mainColor;
		color: #fff;
		.per-mile {
			background-color: rgba(255, 255, 255, .08)
		}
		a.nile-bottom {
			background-color: #3f3e3e;
		}
		ul.elements {
			li {
				&:nth-child(odd) {
					background-color: rgba(255, 255, 255, .08)
				}
			}
		}
	}
}

.blog-item {
	background: #fff;
	-webkit-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.08);
	.date {
		width: 50px;
		-webkit-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.8);
		-moz-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.8);
		box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.8);
		margin-top: -25px;
		margin-left: 30px;
		margin-right: auto;
		display: block;
		z-index: 3;
		position: relative;
		span {
			display: block;
			text-align: center;
			&.day {
				background: $mainColor;
				padding: 3px 0px;
				color: #fff;
				font-size: 16px;
			}
			&.month {
				color: #5a5a5a;
				font-size: 12px;
			}
		}
	}
	a.title {
		display: block;
		padding: 30px;
		font-size: 15px;
		font-weight: 600;
		color: #2f2222;
	}
}


.testimonials {
	&.layout-1 {
		background-color: #fff;
		padding: 50px;
		text-align: center;
		-webkit-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.08);
		-moz-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.08);
		box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.08);
		margin-bottom: 45px;
		.icon {
			width: 26px;
			height: 20px;
			margin: auto;
			background-image: url(../../assets/icons/testimonials-icon.png);
		}
		.text {
			padding: 25px 0px;
			font-size: 13px;
		}
		.meta {
			.testimonials-thum {
				img {
					border-radius: 50px;
				}
				margin-bottom: 10px;
			}
			.name {
				font-weight: 500;
			}
		}
	}
}


.contact-info-map {
	h2.title {
		color: #fff;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 500;
	}

	color: #fff;
	.icon {
		float: left;
		font-size: 30px;
		margin-right: 15px;
	}
	span.title-in {
		font-size: 13px;
	}
	.text {
		line-height: 19px;
		font-size: 14px;
	}
}

/*----===================== Section Title =================--------*/

.section-title-right {
	.icon {
		float: left;
		margin-right: 20px;
		margin-top: -10px;
	}
	h2 {}
}

.nile-about-section {
	padding: 100px 0px 100px 0px;
	background-image: url(../../assets/img/ba_1.jpg);
	background-size: cover;
}


a.nile-bottom {
	background-color: $mainColor;
	color: #fff;
	border-radius: 35px;
	display: inline-block;
	&:hover {
		background-color: #999;
		color: #fff;
	}
	&.sm {
		padding: 6px 30px 6px 30px;
	}
	&.md {
		padding: 6px 40px 6px 40px;
		-webkit-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
		.fa {
			margin-left: 10px;
		}
	}
	&.sm-block {
		display: block;
		padding: 6px 40px 6px 40px;
		-webkit-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
		font-weight: 500;
		.fa {
			margin-left: 10px;
		}
	}
}

a.action-bottom {
	background-color: rgba(255, 255, 255, .2);
	border-radius: 8px;
	padding: 30px 20px;
	text-align: center;
	color: #fff;
	display: block;
	h4 {
		font-size: 14px;
	}
	&:hover {
		background-color: $mainColor;
		-webkit-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);

	}
}

.nile-accordion {
	.card {
		border: none;
	}
	.card-header {
		border: none;
		margin-bottom: 5px;
		color: #fff;
		padding: 5px 10px;
		background-color: #919191;
		border-radius: 0px;
		.fa {
			margin-right: 8px;
		}
		&:active,
		&:hover {
			background-color: $mainColor;
		}
		.btn-link {
			color: #fff;
			font-size: 14px;
			text-decoration: none;
			display: block;
			cursor: pointer;
			text-align: left;
		}
	}
	&.layout_2 {
		.card-header {
			color: #fff;
			background-color: #444;
			border-radius: 8px;
			&:active,
			&:hover {
				background-color: $mainColor;
			}
			.btn-link {
				color: #fff;
			}
		}
	}
	&.layout_3 {
		.card-header {
			color: #444;
			background-color: #fff;
			border-radius: 8px;
			border: 1px solid #eee;
			&:active,
			&:hover {
				background-color: $mainColor;
				color: #fff;
			}
			.btn-link {
				color: #444;
			}
		}
	}

}



.call-action {
	padding: 100px 0px;
	color: #fff;
	font-size: 13px;
	h2 {
		font-size: 27px;
	}
	&.ba-1 {
		background-image: url(../../assets/img/ba_call_action.jpg);
		background-size: cover;
	}
	&.ba-2 {
		background-color: #444;
	}
	&.ba-3 {
		color: #222;
		background-image: url(../../assets/img/ba_1.jpg);
		background-size: cover;
	}
}

.section {
	&.section-ba-2 {
		background-color: #f2f2f2
	}
	&.section-ba-3 {
		background-color: #f5f5f5;
	}
}

.section-title {
	text-align: center;
	.icon {
		font-size: 25px;
	}
	.h2 {
		font-size: 28px;
		font-weight: 700;
		font-family: $secondFont;
		display: inline-block;
		position: relative;
		&:before {
			border-bottom: 2px solid #d1d1d1;
			content: " ";
			width: 100px;
			position: absolute;
			left: -120px;
			right: 0;
			bottom: 12px;
		}
		&:after {
			border-bottom: 2px solid #d1d1d1;
			content: " ";
			width: 100px;
			position: absolute;
			right: -120px;
			bottom: 12px;
		}
	}
	.des {
		opacity: .8;
	}
}



.contact-modal {
	background-color: rgba(255, 255, 255, .8);
	color: #fff;
	.form-control {
		color: #fff;
	}
	form {
		input,
		textarea {
			background: none;
			border-color: rgba(255, 255, 255, .5);
			border-radius: 0px;
			&:focus {
				background: none;
				outline: none;
				text-decoration: none;
			}
		}
		textarea:focus,
		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="datetime"]:focus,
		input[type="datetime-local"]:focus,
		input[type="date"]:focus,
		input[type="month"]:focus,
		input[type="time"]:focus,
		input[type="week"]:focus,
		input[type="number"]:focus,
		input[type="email"]:focus,
		input[type="url"]:focus,
		input[type="search"]:focus,
		input[type="tel"]:focus,
		input[type="color"]:focus,
		.uneditable-input:focus {
			border-color: rgba(255, 255, 255, .5);
			box-shadow: none;
			outline: 0 none;
		}

		::placeholder {
			color: #fff;
			font-size: 13px;
			opacity: 1;
		}

	}
}





.page-title {
	background-image: url(../../assets/img/page-title.jpg);
	background-size: cover;
	background-position: center center;
	h1 {
		text-align: center;
		color: #fff;
		font-size: 35px;
	}
	ol.breadcrumb {
		text-align: center;
		color: #fff;
		li {
			& :after {
				font-family: FontAwesome;
				content: "\f105";
				margin-left: 10px;
			}
			font-size: 13px;
		}
		a {
			color: #fff;
		}
	}
}


.team {

	&.layout-1 {
		text-align: center;
		margin-bottom: 35px;
		h3 {
			margin: 10px auto 5px;
			font-size: 18px;
		}
		img {
			border-radius: 8px;
			-webkit-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
			box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
		}
		ul.social-list {
			li {
				a {
					font-size: 13px;
					margin-right: 10px;
					color: #444
				}
			}
		}
	}

	&.layout-2 {
		text-align: center;
		margin-bottom: 35px;
		border-radius: 8px;
		-webkit-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.75);
		background-color: #fff;
		h3 {
			margin: 5px auto 5px;
			font-size: 17px;
		}
		img {}
		ul.social-list {
			li {
				a {
					color: $mainColor;
					font-size: 13px;
					margin-right: 10px;
				}
			}
		}
	}


	&.layout-3 {
		text-align: center;
		margin-bottom: 35px;
		h3 {
			margin: 10px auto 5px;
			font-size: 18px;
		}
		img {
			border-radius: 450px;
			-webkit-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.05);
			-moz-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.05);
			box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.05);
		}
		ul.social-list {
			li {
				a {
					font-size: 13px;
					margin-right: 10px;
					color: #444
				}
			}
		}
	}

}



.service-slider-img {
	ul {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

.services-list {
	ul {
		margin: 0px;
		padding: 0px;
		list-style: none;
		li {
			&.active {
				a {
					background-color: #444;
				}
			}

			a {
				color: #fff;
				display: block;
				padding: 10px 30px;
				border-bottom: 1px solid rgba(255, 255, 255, .3);
				&:hover {
					background-color: #444;
				}
			}
		}
	}
}



.nile-widget {
	&.contact-widget {
		border: 1px solid #777;
		h2.title {
			color: #000;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: 600;
		}
		&.widget_nav_menu {
			ul {
				margin: 0px;
				padding: 0px;
				list-style: none;
				li {
					a {
						text-decoration: none;
						color: #4a4a4a;
						display: block;
						padding: 8px 0px 8px 0px;
						border-bottom: 1px solid rgba(238, 238, 238, 0.1);
						&:before {
							content: "\35";
							font-family: 'ElegantIcons';
							color: $mainColor;
							display: inline-block;
							margin-right: 5px;
						}

					}
				}
			}
		}
		.contact-info {
			color: #4a4a4a;
			.icon {
				float: left;
				font-size: 30px;
				margin-right: 15px;
			}
			span.title-in {
				font-size: 13px;
			}
			.text {
				line-height: 19px;
				font-size: 14px;
			}
		}

	}
}





.widget {
	&.sidebar-wideget {
		margin-bottom: 40px;
		.sidebar-title {
			h2 {
				font-size: 17px;
				color: #121111;
				position: relative;
				padding-left: 25px;
				margin-bottom: 30px;
				&:before {
					content: " ";
					width: 10px;
					height: 10px;
					background-color: $mainColor;
					position: absolute;
					top: 10px;
					left: 0px;
				}
			}
		}
		.last-post {
			.item {
				padding-bottom: 15px;
				margin-bottom: 15px;
				border-bottom: 1px solid #eee;
				.img {
					float: left;
					margin-right: 15px;
					img {
						border-radius: 5px;
					}
				}
				a.title {
					font-size: 14px;
					font-weight: 600;
				}
				.date {
					color: #949494;
					font-size: 12px;
				}
			}
		}
		.last-project {
			.item {
				padding-bottom: 15px;
				margin-bottom: 15px;
				border-bottom: 1px solid #eee;
				.img {
					float: left;
					margin-right: 15px;
					img {
						border-radius: 5px;
						max-width: 65px;
						margin-bottom: 8px;
					}
				}
				a.title {
					font-size: 14px;
					font-weight: 600;
				}
				.price {
					color: #949494;
					font-size: 12px;
				}
			}
		}
	}

}



.post-standard {
	margin-bottom: 55px;
	.thum-img {
		img {
			border-radius: 10px;
			margin-bottom: 20px;
		}
	}
	a.title {
		font-size: 35px;
		font-weight: 500;
		color: #191f25;
		letter-spacing: -3px;
		line-height: 47px;
	}
	.meta-out {
		padding: 10px 0px;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		margin-top: 10px;
		ul.meta {
			margin: 0px;
			padding: 0px;
			list-style: none;
			li {
				margin-right: 40px;
				display: inline-block;
				.icon {
					color: $mainColor;
					margin-right: 8px;
				}
			}
		}
	}
	.excerpt {
		color: #858585;
		margin: 10px auto;
	}
}



.thum-xs img {
	max-width: 200px;
}


.product-item {
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.15);
	.out {
		padding: 40px;
		text-align: center;
		&.small-padding {
			padding: 30px
		}
		a.title {
			font-size: 16px;
			font-weight: 600;
		}
		.price {
			color: $mainColor;
			font-weight: 600;

		}
		a.add_cart {
			display: block;
			background-color: #a9a9a9;
			border-radius: 30px;
			color: #fff;
			padding: 8px;
			margin: 15px 0 0 0;
		}
	}
}







/*-----=========  Cart  =========-------*/

.nile-cart {
	font-size: 13px;
	.product-item {
		background-color: #fff;
		border-radius: 15px;
		margin-bottom: 10px;
	}
	thead.nile-cart-title {
		background-color: $mainColor;
		th {
			color: #fff;
		}
		border-radius: 10px;
		margin-bottom: 15px;
	}
}

.table > tbody > tr > td,
.table > tfoot > tr > td {
	vertical-align: middle;
}

@media screen and (max-width: 600px) {
	table#cart tbody td .form-control {
		width: 20%;
		display: inline !important;
	}
	.actions .btn {
		width: 36%;
		margin: 1.5em 0;
	}

	.actions .btn-info {
		float: left;
	}
	.actions .btn-danger {
		float: right;
	}

	table#cart thead {
		display: none;
	}
	table#cart tbody td {
		display: block;
		padding: .6rem;
		min-width: 320px;
	}
	table#cart tbody tr td:first-child {
		background: #333;
		color: #fff;
	}
	table#cart tbody td:before {
		content: attr(data-th);
		font-weight: bold;
		display: inline-block;
		width: 8rem;
	}



	table#cart tfoot td {
		display: block;
	}
	table#cart tfoot td .btn {
		display: block;
	}

}

/*-----========= End  Cart  =========-------*/
