$mainColor: #e53935;
$mainColorAlpha: #007cff;
$secondColor:#3f3e3e;
$secondColorAlpha:#fccf5f;
$thirdColor: #f3eec2;
$thirdColorAlpha: rgba(244, 67, 54, 0.747);


$colorRed: #F44336;
$colorPink: #E91E63;
$colorPurple: #9C27B0;
$colorBlue: #2196F3;
$colorLightGreen: #8BC34A;
$colorLime: #C0CA33;
$colorLime-1: #F0F4C3;
$colorYellow: #FFEB3B;
$colorAmber: #F57F17;
$colorOrange: #FF9800;


$colorLightGrey: #FAFAFA;
$colorGrey: #E0E0E0;
$colorGrey1: #eeeded;
$colorGrey2: #9E9E9E;
$colorGrey3: #616161;
$colorGrey4: #474747;


$colorBrown-0: #EFEBE9;
$colorBrown-1: #795548;
$colorBrown-2: #5D4037;
$colorBrown-3: #BF360C;



$ColorWhite: #fff;
$ColorBlack: #000;
$ColorDark: #212121;


$mainFont: 'Arial';
$secondFont: 'Raleway',
sans-serif;
$thirdFont: 'Great Vibes';
